*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}
#button{
    font-size: 3em;
    display: none;
}
@media  only screen and (orientation: landscape) {
    
#navigation_container{
    width: 100vw;
    height: 10vh;
    background-color: rgba(232, 224, 224, 0.936);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
}
#jspiders_navigation_heading{
    padding-left:10px;
}
#j_heading{
    color: rgb(255, 166, 0);
}
#ordered_list{
    width: 32vw;
    height: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-size: 1.3em;
}
#jspiders_heading{
    text-align: center;
    font-size: 2.5em;
}
#jspiders_paragraph_j_letter{
    color: orange;
    font-size: 1.3em;
    margin-top: 1vh;
    padding-left: 10px;
}
#spid_para{
    color: black;
}
#technologies_container{
    width: 100%;
    height: 50vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 0px;
    top: 60px;
}
.containers{
    width: 30%;
    height: 80%;
    background-color: orange;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    /* transition: translate 250ms linear; */
}
#frontend_order_list_container,#backend_orderlist_container{
    width: 100%;
    height: 100%;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
    left: 10px;
    padding-left: 20px;
    list-style-type:"-->";
}
#database_orderlist_container{
    width: 100%;
    height: 60%;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 10px;
    left: 10px;
    padding-left: 20px;
    list-style-type:"-->";
}
.containers:hover{
    /* translate: 0px -22px; */
    animation: toAnimateContainers 1000ms ease-in-out;
    box-shadow: 0px 0px 10px red, 0px 0px 20px red;
}
.list_items:hover{
    cursor: pointer;
    text-shadow: 0px 0px 10px white,0px 0px 50px white,0px 0px 100px white,0px 0px 150px white,0px 0px 250px white;
}
    
}
@keyframes toAnimateContainers {
    from{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(0px,-22px);
    }
    to{
        transform: translate(0px,0px);
    }
}
@media only screen and  (orientation: portrait) {
    body{
        /* background-color: slategray; */
    }
    #jspiders_navigation_heading{
        /* width: 100vw; */
        font-size: 3em;
    text-align: center;
    background-color: lightgray;
    }
    #j_heading{
        color: rgb(255, 166, 0);
    }
    #button{
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    height: 56px;
    width: 40px;
    border: none;
    outline: none;
    }
    #ordered_list{
        height: 100vh;
        width: 100vw;
        display: none;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        list-style-type: none;
        font-size: 3em;
        background-color: black;
        color: white;
        /* position: relative;
        left: 100vw; */
        /* transform: translate(100vw);
        transition: transform 500ms linear; */
        animation: toanimate 450ms linear forwards;
    }
    @keyframes toanimate {
        from{
            transform: translatex(100vw);
        }
        to{
            transform: translatex(0vw)
        }
    }
    #technologies_container{
        width: 100%;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .containers{
        width: 80%;
        height: 30%;
        background-color: orange;
        border-radius: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1.7em;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
        transition: translate 250ms linear;
        margin-top: 10px;
    }
    #jspiders_paragraph_j_letter{
        padding: 10px;
        font-size: 1.2em;
    }
    #jspiders_heading{
        text-align: center;
    }
}