*{
    padding: 0px;
    margin: 0px;
    font-family: ProductSans;
}
@font-face {
    font-family: ProductSans;
    src: url(../../../jspiders/Web_Development_A26/ASSESSTS/fonts/ProductSansRegular.ttf);
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
    font-weight: bold;
    overflow: hidden;
}
#day_container{
    color: darkblue;
}
#date_container{
    width: 40vw;
    height: 40vh;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 0.753);
    border-radius: 30px;
    z-index: 2;
    box-shadow: 0px 0px 10px black;
    backdrop-filter: blur(50px);
}
#dates_container{
    width: 80%;
    height: 40%;
    font-size: 3vw;
    /* color: orange; */
    text-shadow: 0px 0px 10px black;
    background-color: black;
}
#background_time{
    font-size: 50em;
    position: absolute;
    z-index: 1;
    color: royalblue;
    text-shadow: 0px 0px 5px black;
}
#month_date_year_container{
    width: 60%;
    height: 15%;
    text-shadow:0px 0px 10px black,0px 0px 10px black;
    color: orange;
}
#month_container,#dat_container,#year_container{
    height: 100%;
    font-size: 1.5em;
}

#time_minutes_sec_container{
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colon{
    font-size: 3.5vw;
}